.DS_Store
*.log
.idea/
.vscode/
*.pyc
.ipynb_checkpoints
models
results/
data/audio/*.wav
data/video/*.mp4
*.whl

/error/
/error01/
/results/
/results01/
/logs/
/logs01/
/venv/
/example/
/wheels/

go-api-conda.bat